<!-- <router-outlet></router-outlet> -->
<!-- Hero Section Begin -->
<section class="hero" [ngClass]="scroll" (scroll)="menuscroll()">
    <div class="container">
        <div class="row">
<!--          -->
<!--            <div class="col-lg-3">-->
<!--                <div class="hero__categories">-->
<!--                    <div class="hero__categories__all" (click)="allDepartments =! allDepartments">-->
<!--                        <i class="fa fa-bars"></i>-->
<!--                        <span>All departments</span>-->
<!--                    </div>-->
<!--                    <ul [ngClass]="{'display_block': allDepartments === true, 'display_none':allDepartments === false }">-->
<!--                        <li><a href="#">Fresh Meat</a></li>-->
<!--                        <li><a href="#">Vegetables</a></li>-->
<!--                        <li><a href="#">Fruit & Nut Gifts</a></li>-->
<!--                        <li><a href="#">Fresh Berries</a></li>-->
<!--                        <li><a href="#">Ocean Foods</a></li>-->
<!--                        <li><a href="#">Butter & Eggs</a></li>-->
<!--                        <li><a href="#">Fastfood</a></li>-->
<!--                        <li><a href="#">Fresh Onion</a></li>-->
<!--                        <li><a href="#">Papayaya & Crisps</a></li>-->
<!--                        <li><a href="#">Oatmeal</a></li>-->
<!--                        <li><a href="#">Fresh Bananas</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

            <div class="col-lg-12">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="../../../assets/img/hero/banner.jpg" style="background-image: url('../../../assets/img/hero/banner.jpg');">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories">
  <div class="container">

    <div class="wrapper">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of dynamicSlides">
          <ng-template class="slide" carouselSlide id="slide.id">
            <div class="padding">
              <img [src]="slide.src" [alt]="slide.id" [title]="slide.id">
<!--              <div style="margin: auto;width: 50%;margin-bottom: 25px;">-->
<!--                <button kendoButton icon="folder" look="outline" style="margin-top: 20px;width: 100%;">Browse</button>-->
<!--              </div>-->
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>

  </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".oranges">Oranges</li>
                        <li data-filter=".fresh-meat">Fresh Meat</li>
                        <li data-filter=".vegetables">Vegetables</li>
                        <li data-filter=".fastfood">Fastfood</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row featured__filter menuWrap">

            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" *ngFor="let item of products">
                <div class="featured__item">
                    <a href="#">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg" >
<!--                      style="background-image: url({{item.url}});"-->
                      <div class="_2ijxH">
                        <a href="//www.aliexpress.com/item/Agah-Cycling-Triathlon-Women-Long-Sleeve-Bike-Clothes-Aero-Skinsuit-Jumpsuit-Bodysuit-Kit-Summer-Trajes-Ciclismo/1005001779357101.html?spm=a2g0o.best.more.19.5ef62c25fky99s&amp;scm=1007.17258.212331.0&amp;scm_id=1007.17258.212331.0&amp;scm-url=1007.17258.212331.0&amp;pvid=58771de3-017d-4706-ad99-23360652a231" target="" data-spm-anchor-id="a2g0o.best.more.19">
                          <img [src]="item.url" data-spm-anchor-id="a2g0o.best.more.i38.5ef62c25fky99s">
                        </a>
                      </div>


                    </div>
                  <div class="margin-top">
                      <span style="font-size: 12px;">{{item.productName}} </span>
<!--                    <button style="color: #0000ff;display: flow-root;" kendoButton look="flat">{{item.price}}</button>-->
                      <br/>
                      <span><strong>{{item.price}} USD</strong></span>

<!--                    <span class="k-block" style="color: #0000ff; float: right; border: none;width: 100%">-->
<!--                      <button kendoButton look="flat" style="width: 50%;">-->
<!--                        <i class="fas fa-info"></i>-->
<!--                        <span style="margin-left: 5px;">Details</span>-->
<!--                      </button>-->
<!--&lt;!&ndash;                      <button kendoButton look="flat">100</button>&ndash;&gt;-->
<!--                      <button kendoButton look="flat" style="width: 50%;">-->
<!--                        <i class="fas fa-cart-plus fa-10x"></i>-->
<!--                        <span style="margin-left: 5px;">Add To Cart</span>-->
<!--                      </button>-->
<!--                    </span>-->

                  </div>
                    </a>

<!--                  <div class="col-xs-12 k-block" style="color: #0000ff;width: 150px;display: flow-root;float: right;">-->
<!--                        <button class="centered float-right" kendoButton icon="folder" look="flat" style="width: 50%;">100</button>-->
<!--                        <button class="centered float-right" kendoButton icon="folder" look="flat" style="width: 50%;" >100</button>-->

<!--                        <button kendoButton look="flat">-->
<!--                          <span class="k-icon k-i-minus"></span>-->
<!--                        </button>-->
<!--                        <button kendoButton look="flat">100</button>-->
<!--                        <button kendoButton look="flat">-->
<!--                          <span class="k-icon k-i-plus"></span>-->
<!--                          100-->
<!--                        </button>-->

<!--                      <button kendoButton look="outline" icon="folder" look="flat" style="width: 50%;">Browse</button>-->
<!--                      <button kendoButton look="outline" icon="folder" look="flat" style="width: 50%;">Browse</button>-->

<!--                  </div>-->

                </div>
            </div>

        </div>
    </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="../../../assets/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="../../../assets/img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Latest Product Section Begin -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">

        <div class="latest-product__text">
          <h4>Latest Products</h4>
          <div class="latest-product__slider owl-carousel owl-loaded owl-drag">

            <owl-carousel-o [options]="customOptions1" >
              <ng-container *ngFor="let latestProducts of latestProductsNew">
                <ng-template class="slide" carouselSlide *ngFor="let items of latestProducts">
                  <a href="#" class="latest-product__item">
                    <div class="latest-product__item__pic">
                      <img [src]="items.uri" alt="">
                    </div>
                    <div class="latest-product__item__text">
                      <h6>{{items.productName}}</h6>
                      <span>{{items.price}}</span>
                    </div>
                  </a>
                </ng-template>
              </ng-container>
            </owl-carousel-o>

            <!-- <div *ngFor= "let products of latestProductsNew">
                  <span *ngFor="let item of products">
                    {{item.uri}}
                  </span>
            </div> -->

            <div class="owl-nav" style="overflow: visible;">
                <button kendoButton look="outline" [primary]="true" class="border-none">
                  <span class="k-icon k-i-arrow-chevron-left"></span>
                </button>
                <button kendoButton look="outline" [primary]="true" class="border-none">
                  <span class="k-icon k-i-arrow-chevron-right"></span>
                </button>
            </div>


          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Top Rated Products</h4>

          <div class="latest-product__slider owl-carousel owl-loaded owl-drag">

            <div class="owl-stage-outer">
              <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 1.2s ease 0s; width: 2160px;">

                <div class="owl-item cloned" style="width: 359.99px;">

                  <div class="latest-prdouct__slider__item">

                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="../../../assets/img/latest-product/lp-1.jpg" alt="">
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>


                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="../../../assets/img/latest-product/lp-2.jpg" alt="">
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>


                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="../../../assets/img/latest-product/lp-3.jpg" alt="">
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>


                  </div>
                </div>


              </div>
            </div>

            <div class="owl-nav" style="overflow: visible;">
              <button kendoButton look="outline" [primary]="true" class="border-none">
                <span class="k-icon k-i-arrow-chevron-left"></span>
              </button>
              <button kendoButton look="outline" [primary]="true" class="border-none">
                <span class="k-icon k-i-arrow-chevron-right"></span>
              </button>
            </div>

          </div>

        </div>
      </div>






      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Review Products</h4>


          <div class="latest-product__slider owl-carousel owl-loaded owl-drag">

            <div class="owl-stage-outer">
              <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 1.2s ease 0s; width: 2160px;">

                <div class="owl-item cloned" style="width: 359.99px;">
                  <div class="latest-prdouct__slider__item">

                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="../../../assets/img/latest-product/lp-1.jpg" alt="">
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>


                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="../../../assets/img/latest-product/lp-2.jpg" alt="">
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>


                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="../../../assets/img/latest-product/lp-3.jpg" alt="">
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>


                  </div>
                </div>


              </div>
            </div>


            <div class="owl-nav" style="overflow: visible;">
              <button kendoButton look="outline" [primary]="true" class="border-none">
                <span class="k-icon k-i-arrow-chevron-left"></span>
              </button>
              <button kendoButton look="outline" [primary]="true" class="border-none">
                <span class="k-icon k-i-arrow-chevron-right"></span>
              </button>
            </div>

          </div>



        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Product Section End -->
<!-- Latest Product Section End -->

<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../../../assets/img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../../../assets/img/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../../../assets/img/blog/blog-3.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
